main-about {
}
/* - - - - - - - - - */
/*allstyle?
.caption {
    font-family: var(--serif-font);
    font-weight: 300;
    font-style: italic;
    font-size: .8rem;
    line-height: 1.2;
}
 - - - - - - - - - */
 #navli5 a p {
    margin-left: -15px;
    color: var(--alt-lt-color);
    font-size: 1rem;
 }

.profile {
    display: grid;
    grid-template-columns: repeat(2, 37.5vw);
    grid-column-gap:5vw ;
}
.profile-blk1 {
    display: grid;
    grid-template-columns: repeat(2, 19vw );
    grid-column-gap: 2vw;
}
#alt-layout-name {
    display: none;
    text-align: center;
}
.profile-pic img, .social-group, .profile-blk2 p {
   /* width: 75%;*/
   width: 100%;
}
.profile-pic img {
    box-shadow: -3px 3px 0 2px var(--hi-lt-color);
}
.caption-box {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.profile .caption {
    text-align: right;
    width: 18vw;
    max-width: 125px;
}

.social-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 15px;
}
/*move to all-style
.social-icon {
    width: 3vw;
    max-width: 35px;
    max-height: 35px;
    height: 3vw;
    border-radius: 50%;
    background-size: cover;
}

.insta {
    background-image: url("../images/icons/insta-icon.svg");
}
.git {
    background-image: url("../images/icons/github-icon.svg");
}
.twitter {
    background-image: url("../images/icons/twitter-icon.svg");
}
.linkedin {
    background-image: url("../images/icons/linkedin-icon.svg");
}*/

.profile-text h2 {
    margin-bottom: 15px;
}

.cnt-sep {
    display: block;
    width: 60vw;
    margin: 40px 0 40px 20vw;
}   
.add-on {
    margin-left: 20vw;
    width: 60vw;
    padding-bottom: 3vw;
}
.add-on-text p {
    width: 40vw;
    color: var(--alt-lt-color);
}
.add-on-tn {
    display: flex;
    justify-content: space-between;
}
.add-on figure {
    margin-top: 15px;
}
.add-on figure img {
    width: 29vw;
    box-shadow: 2px 2px 4px #6f7c8e45;
    transition: transform 400ms ease-in-out;
}
.add-on figure img:hover {
    transform: scale(1.75);
}

@media only screen and (max-width: 758px) {

    .profile {
        grid-template-columns: 100vw;
        justify-content: center;
    }
    
    .profile-blk1 {
        grid-template-columns: 18vw 12vw 32vw 18vw 12vw;
        grid-template-rows: auto;
        grid-column-gap: 2vw;
        margin-bottom: 30px;
    }
    .profile-pic  {
        width: 100%;
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
    }
    .profile-pic img {
        width: 100%;
    }
    #main-layout-name {
        display: none;
    }
    .space-holder {
        grid-column: 1 / span 5;
        grid-row: 1 / 1;
        justify-content: center;
        margin-bottom: 15px;
    }
    #alt-layout-name {
        display: block;
        text-align: center;
    }
   .social-icon {
       width: 5vw;
       height: 5vw;
   }
    .social-group {
        flex-direction: column;
        justify-content: space-between;
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
        margin-top: 0;
    }
    .caption-box {
        grid-column: 4 / span 1;
        grid-row: 2 / span 1;
        align-self: end;
        
    }
    .profile .caption {
        text-align: left;
        width: 100%;
    }
    .profile-blk2 p, .add-on, .add-on-text p, 
    .add-on figure img, .separator {
        width: 66vw;
        margin-left: 20vw;
    }
    .add-on-text p, .add-on figure img {
        margin-left: 0;
    }
    .add-on-tn {
        flex-direction: column;
    }
}

@media only screen and (max-width: 440px) {
    .profile-blk1 {
        grid-template-columns: 1vw 25vw 36vw 25vw 1vw;
        grid-column-gap: 3vw;
    }
    .social-group {
        align-items: flex-end;
    }
    

}
    
