:root {
    --main-color: #F7C100;
    --alt-color: #3E4E57;
    --alt-lt-color: #6F7C8E;
    --hi-lt-color: #d4d9ff;
    --serif-font: 'Josefin Slab', serif;
    --sans-serif-font: 'Comfortaa', cursive;
}

* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}

h1 {
    font-size: 4.5vw;
    font-weight: 300;
    line-height: 1.25;
}
h1, h2 {
    font-family: var(--serif-font);
}
h2 {
    /*
    font-size: 1.5vw;*/
    font-size: 1.75rem;
    /*color: var(--alt-color);*/
    color: var(--alt-lt-color);
    margin-bottom: 15px;
}
h3 {
    font-family:var(--sans-serif-font);
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--alt-color);
    line-height: 2;
}
h4 {
    font-family: var(--serif-font);
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--alt-lt-color);
    margin-bottom: .5rem;
}
h5 {
    font-family: var(--serif-font);
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--alt-color);
    font-weight: 600;
}
h6 {
    font-family: var(--sans-serif-font);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--alt-color)

}
p,  .prop-list {
    font-family: var(--sans-serif-font);
    font-size: .75rem;
    line-height: 1.5;
    color: var(--alt-color)
}
ul {
    list-style: none;
}
.caption {
    font-family: var(--serif-font);
    font-weight: 300;
    font-style: italic;
    font-size: .8rem;
    line-height: 1.2;
}
label {
    font-family: var(--sans-serif-font);
    font-weight: 400;
    font-size: .75rem;
    color: var(--alt-lt-color);
}
input, textarea {
    font-family: var(--sans-serif-font);
    font-size: 1rem;
}
/* -- adjusted for about page, check results effecting other pages */
a {
    color: var(--alt-lt-color);
}
body {
max-width: 100vw;
}
main {
    position: relative;
    width: 100vw;
    padding-top: 6vmin;
}
.stage {
    position: relative;
}
header {
    /*position: absolute;*/
    height: 13vmin;
    min-height: 80px;
    width: 100%;
    background-color: #fff;
    z-index: -2;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}
/*final top position after splash*/
.tagline {
    text-align: right;
    padding: 1vmin 2vmin;
    display: block;
}
.tagline h5 {
    color: var(--alt-lt-color);
    text-transform: none;
}
/*final top position after splash*/
#topline_bg {
    position: absolute;
    top: 13vmin;
    background-color: var(--main-color);
    height: 2vmin;
    width: 100%;
    margin: 1vmin 0 0;
    min-height: 1.5vmin;
    z-index: 5;
}
/* final header position for logo*/
#mainLogo {
    position: absolute;
    left: .25vw;
    width: 24vmin;
    height: 11vmin;
    min-height: 50px;
    z-index: 5;
}

.navbox {
    position: fixed;
    opacity: 1;
    left: 90vw;
    width: 10vw;
    min-width: 120px;
    height: 35vh;
    max-height: 250px;
    top: 40vh;
    padding-left: 3vw;
    padding-right: 1vw;
    background-color: #FBE080;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.navbox hr {
    
    background-color: var(--main-color);
    opacity: .75;
    border: none;
    height: 1px;
}
/* - - position for animation - - 
#navli1, #navli2, #navli3, #navli4, #navli5 {
    margin-left: 9vw;
}*/
#navli1, #navli1 img, #navli1 a {
    display: inline-block;
}

#navli1 a p:hover, 
#navli3 a p:hover, 
#navli5 a p:hover,
#navli7 a p:hover, 
#navli9 a p:hover {
    color: var(--alt-lt-color);
    animation: slideOver 200ms ease-in forwards;
}
.nav-mobile {
    margin-top: 2vmin;
    background-color: #fff;
    display: none;
}
.nav-mobile .nav-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #FBE080;
    justify-items: center;
    align-items: end;
}

.nav-mobile .nav-menu li {
    width: 50vw;
    text-align: center;
    border-bottom: 1.5px solid var(--main-color);
    padding: 5px;
}
.nav-mobile .nav-menu li:first-child, 
.nav-mobile .nav-menu li:nth-child(3) {
    border-right: 1.5px solid var(--main-color);
}
.nav-menu p {
    font-size: 1.25vw;
}

#hamburger {
    width: 8vw;
    height: 8vw;
    min-height: 40px;
    margin-right: 15px;
    display: none;
}
#hamburger:hover {
    cursor: pointer;
    /*filter: grayscale(100%);*/
}

#hamburger:hover > #bg rect {
    fill: #f7c100 !important;
}
#hamburger:hover > #stripes rect {
    fill: #fff !important;
}
.social-icon {
    width: 3vw;
    max-width: 35px;
    max-height: 35px;
    height: 3vw;
    border-radius: 50%;
    background-size: cover;
    box-shadow: 2px 2px 2px #6f7c8e45;
}
.insta {
    background-image: url("../images/icons/insta-icon.svg");
}
.git {
    background-image: url("../images/icons/github-icon.svg");
}
.twitter {
    background-image: url("../images/icons/twitter-icon.svg");
}
.linkedin {
    background-image: url("../images/icons/linkedin-icon.svg");
}

.separator {
    display: block;
    width: 100%;
    height: 5px;
    border-top: 3px solid var(--hi-lt-color);
    border-bottom: 1px solid var(--main-color);
}
.footer-topline {
    background-color: var(--main-color);
    height: 1vmin;
    width: 100%;
    margin-top: 30px;
}

@keyframes slideOver {
    from {
    margin-left: 0px;
    }
    to {
    margin-left: -15px;
    }
}

@media only screen and (max-width: 768px) {
    .navbox {
        display: none;
    }
    #hamburger {
        display: block;
    }
}
@media only screen and (max-width: 650px) {
 #topline_bg {
     top: 80px;
 }
 .tagline {
     display: none;
 }
 #mainLogo {
     height: 60px;
     width: 120px;
 }
}
footer {

    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: .75rem;
}
footer p {
    font-size: .75rem;
    padding: 5px 0 15px;
    font-family: var(--serif-font);
}
.footer-nav {
    display: flex; 
    width: 60%;
    padding: 15px 0 5px;
    justify-content: space-around;  
}
.footer-nav a {
    text-decoration: underline;
    
}

@media only screen and (min-width: 769px) {
    .nav-mobile {
        display: none !important;
    }
}