:root {
    --main-color: #F7C100;
    --alt-color: #3E4E57;
    --alt-lt-color: #6F7C8E;
    --hi-lt-color: #d4d9ff;
    --serif-font: 'Josefin Slab', serif;
    --sans-serif-font: 'Comfortaa', cursive;
}

* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}

h1 {
    font-size: 2.5em;
    font-weight: 300;
    line-height: 1.2;
    
}
h1, h2 {
    font-family: var(--serif-font);
    text-align: center;
}
h2 {
    /*
    font-size: 1.5vw;*/
    font-size: 1.75rem;
    /*color: var(--alt-color);*/
    color: var(--alt-lt-color);
    margin-bottom: 15px;
}
h3 {
    font-family:var(--sans-serif-font);
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--alt-color);
    line-height: 2;
}
h4 {
    font-family: var(--serif-font);
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--alt-lt-color);
    margin-bottom: .5rem;
}
h5 {
    font-family: var(--serif-font);
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--alt-color);
    font-weight: 600;
}
h6 {
    font-family: var(--sans-serif-font);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--alt-color);
    margin-bottom: 5px;

}
p,  .prop-list {
    font-family: var(--sans-serif-font);
    font-size: .85rem;
    line-height: 1.5;
    color: var(--alt-color);
    width: 90%;
    margin: 1em auto 0;
}
ul {
    list-style: none;
}
.caption {
    font-family: var(--serif-font);
    font-weight: 300;
    font-style: italic;
    font-size: .8rem;
    line-height: 1.2;
}
label {
    font-family: var(--sans-serif-font);
    font-weight: 400;
    font-size: .75rem;
    color: var(--alt-lt-color);
}
input, textarea {
    font-family: var(--sans-serif-font);
}
/* -- adjusted for about page, check results effecting other pages */
a {
    color: var(--alt-lt-color);
}
body {
max-width: 100vw;
}
main {
    position: relative;
    width: 100vw;
    padding-top: 6vmin;
}
.stage {
    position: relative;
}
header {
    /*position: absolute;*/

    width: 100%;
    background-color: #fff;
    z-index: -2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #fff;
}
/*final top position after splash*/
.tagline {
    text-align: right;
    padding: 1vmin 2vmin;
    display: block;
}
.tagline h5 {
    color: var(--alt-lt-color);
    text-transform: none;
}
/*final top position after splash*/
#topline_bg {
    background-color: var(--main-color);
    height: 2vmin;
    width: 100%;
    min-height: 1.5vmin;
}
/* final header position for logo*/
#mainLogo {
    width: 100%;
    min-width: 85px;
    height: auto;
    margin-right: 1em;
}


/* - - position for animation - - 
#navli1, #navli2, #navli3, #navli4, #navli5 {
    margin-left: 9vw;
}*/
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: auto;
    padding: 2vw 3vw 0;
}
.logo-contain {
    width: 20%;
    height: auto;
}
nav {
    width: 80%;
}
nav ul {
    display: flex;
    justify-content: flex-end;

}
#navli1, #navli1 img, #navli1 a {
    display: inline-block;
}

#navli1 a p:hover, 
#navli3 a p:hover, 
#navli5 a p:hover,
#navli7 a p:hover, 
#navli9 a p:hover {
    color: var(--alt-lt-color);
    animation: slideOver 200ms ease-in forwards;
}



 .nav-menu li {
padding-left: 2em;
}

.nav-menu p {
    font-size: .75rem;
}

#hamburger {
    width: 8vw;
    height: 8vw;
    min-height: 40px;
    display: none;
}
#hamburger:hover {
    cursor: pointer;
}

#hamburger:hover > #bg rect {
    fill: #f7c100 !important;
}
#hamburger:hover > #stripes rect {
    fill: #fff !important;
}
.social-icon {
    /*
    width: 3vw;
    max-width: 35px;
    max-height: 35px;
    height: 3vw;
    */
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-size: cover;
    box-shadow: 2px 2px 2px #6f7c8e45;
}
.insta {
    background-image: url("../images/icons/insta-icon.svg");
}
.git {
    background-image: url("../images/icons/github-icon.svg");
}
.twitter {
    background-image: url("../images/icons/twitter-icon.svg");
}
.linkedin {
    background-image: url("../images/icons/linkedin-icon.svg");
}

.separator {
    display: block;
    width: 100%;
    height: 5px;
    border-top: 3px solid var(--hi-lt-color);
    border-bottom: 1px solid var(--main-color);
}
.footer-topline {
    background-color: var(--main-color);
    height: 1vmin;
    width: 100%;
}
.footer-contain {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: center;
}
.sm-social {
    width: 80%;
}
.sm-social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}
.sm-social-list li img{
    height: 25px;
}

@keyframes slideOver {
    from {
    margin-left: 0px;
    }
    to {
    margin-left: -15px;
    }
}



footer {

    width: 80vw;
    margin: 2em auto 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: .75rem;
}

footer p {
    font-size: .75rem;
    padding: 5px 0;
    font-family: var(--serif-font);
    text-align: center;
}
.footer-nav {
    display: flex; 
    width: 80%;
    padding: 15px 0 5px;
    justify-content: space-between;  
}
.footer-nav a {
    text-decoration: underline;
    
}


@media only screen and (min-width: 768px) {
    .nav-mobile {
        display: none !important;
    }
    .proj-title {
        margin-top: 2em;
    }
    .footer-contain {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
    }
}