#navli7 a p {
    margin-left: -15px;
    color: var(--alt-lt-color);
    font-size: 1rem;
 }

 .form-container {
     /*width: 70vw;
     max-width: 850px;*/
    
     margin: 0 auto;
     padding: 40px;
     border: 5px solid #6F7C8E55;
     background: #fff;
     box-shadow: -3px 3px 5px lightgrey;
 }

.contact-form, .help-cb {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}
.help-cb {
    grid-gap: 3px;
}


 /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  #subject, .submit-area{
      grid-column: 1 / span 2;
  }
  .submit-area {
      text-align: right;
  }
  /* Style the submit button with a specific background color etc */
  #mail-submit {
    background-color: var(--alt-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #mail-submit:hover {
    border: 4px solid var(--main-color);
  }
.contact-container {
    width: 75vw;
    max-width: 900px;
    /*
    position: relative;
    top: 10vh;*/
    margin: 6vmin auto;
    display: grid;
    grid-template-columns: 1fr 45px;
    grid-auto-rows: 1fr;

}
  .more-contact {
      background-color:  #6F7C8E55;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      padding-right: 5px;
  }
  .conversation {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
  }
  .social-group {
      height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: -3px 3px 5px lightgrey;
  }

  
  
