:root {
    --main-color: #F7C100;
    --alt-color: #3E4E57;
    --serif-font: 'Josefin Slab', serif;

}

body {
max-width: 100vw;
}
.stage {
    position: relative;

}
header {
    position: absolute;
    height: 13vmin;
    background-color: #fff;
    z-index: -2;
}
main {
    background-color: #fff;
    width: 100%;
}
#topline_bg {
    position: absolute;
    top: 0vw;
    background-color: var(--main-color);
    height: 2vmin;
    width: 100%;
    margin: 0;
    z-index: -2;
}
#mainLogo {
    position: absolute;
    top: 30vh;
    left: 25vw;
    width: 50vmax;
    z-index: 5;
}
.message {
    position: absolute;
    top: 42vh;
    left: 20vw;
    width: 60vw;
    font-family: var(--serif-font);
    font-size: 4.5vw;
    font-weight: 300;
    line-height: 1.25;
    color: #fff;
    text-align: center;
}
#mess2, #mess3 {
    color: var(--alt-color);
    left: 101vw;
    font-weight: 400;
}
#mess3 {
    top: 47vh;
    width: 70vw;
    left: -71vw;
}
#mess4 {
    position: absolute;
    width: 70vw;
    left: 15vw;
    top: 57vh;
    opacity: 0;
    color: #6F7C8E;
    font-family: var(--serif-font);
    font-size: 4.5vw;
    font-weight: 300;
    line-height: 1.25;
    text-align: center;
}

.pushbox {
    position: absolute;
    right: 0vw;
    width: 0vw;
    height: 35vh;
    top: 40vh;
    background-color: #ffffff55;
}

.navbox {
    position: absolute;
    display: none;
    left: 88vw;
    width: 12vw;
    height: 35vh;
    top: 40vh;
    background-color: #F7C10055;
}