/* SITE STYLES */
/*
h1 {
    font-size: 4.5vw;
    font-weight: 300;
    line-height: 1.25;
}
h1, h2 {
    font-family: var(--serif-font);
}
h2 {
    font-size: 1.5vw;
    color: var(--alt-color);
}

h3 {
    font-family:var(--sans-serif-font);
    font-weight: 500;
    font-size: rem;
    color: var(--alt-color);
    line-height: 2;
}
h4 {
    font-family: var(--serif-font);
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--alt-lt-color);
    margin-bottom: .5rem;
}
p, .modal-text {
    font-family: var(--sans-serif-font);
    font-size: .75rem;
    line-height: 1.5;
    color: var(--alt-color)
}
body {
max-width: 100vw;
}
.stage {
    position: relative;
}
header {
    position: absolute;
    height: 13vmin;
    width: 100%;
    background-color: #fff;
    z-index: -2;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}*/
/*set to display after splash
.tagline {
    display: block;
}
/*final top position after splash
#topline_bg {
    top: 13vmin;

/* final header position for logo
#mainLogo {
    position: absolute;
    top: 1vh;
    left: .25vw;
    width: 24vmin;
    height: 11vmin;
    z-index: 5;
}
/*
.temp-message-box {
    position: absolute;
    left: 20vw;
    width: 50vw;
    height: 35vh;
    top: 40vh;
    background-color: var(--main-color);
}
.tmessage {
    position: relative;
    top: 10vh;
    color: #fff;
    font-size: 36px;
    font-family: var(--sans-serif-font);
    text-align: center;
    line-height: 1.5;
}

.navbox {
    position: absolute;
    opacity: 1;
    left: 90vw;
    width: 10vw;
    height: 35vh;
    top: 40vh;
    padding-left: 1.5vw;
    background-color: #FBE080;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.navbox hr {
    color: var(--alt-lt-color);
    background-color: var(--alt-lt-color);
    border: none;
    height: 2px;
}
#navli1, #navli2, #navli3, #navli4, #navli5 {
    margin-left: 1vw;
}
#navli1 a h3:hover, 
#navli3 a h3:hover, 
#navli5 a h3:hover {
    color: var(--alt-lt-color);
    animation: slideOver 200ms ease-in forwards;
}

@keyframes slideOver {
    from {
    margin-left: 0px;
    }
    to {
    margin-left: -15px;
    }
}

/* ----- WORK PAGE STYLES ------*/
/*
main {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    top: 20vmin;
}*/

#navli3 a p {
    margin-left: -15px;
    color: var(--alt-lt-color);
    font-size: 1rem;
 }
.grid-wrap {
    max-width: 75vw;
    margin: 0 auto 4vw;
}
.grid-contain {
    display: grid;
    grid-template-columns: repeat(2, 28vw);
    grid-auto-rows: auto;
    grid-gap: 5vw;
    justify-content: center;
}
.close:hover, .closeOne:hover, .grid-item:hover {
    cursor: pointer;
}

/* portfolio screenshots */
.work-image {
    justify-self: center;
    box-shadow: 3px 3px 8px lightgrey;
    /* controls the ease of hover scaling  */
    transition: transform 400ms ease-in-out;
    position: relative;
    z-index: 1;
} 

.work-image:hover {
    transform: scale(1.15, 1.15);
}
/* image sizing to container */
.work-image img, .work-image video {
    width: 100%;
    height: 100%;
    margin-bottom: -5px;
}
/* click for more on hover*/
.click-text {
    text-align: center;
    margin-top: 2vw;
    color: var(--alt-lt-color);
    display:none;
}
.grid-item:first-child .click-text {
    margin-top: 3vw;
}
.click-text span {
    font-weight: 600;
}
.work-image:hover + .click-text {
    display: block;
}

/* - - - MODALS - - - */
/* modals that show on Click for More*/
.modal-container {
    z-index: 25;
    position: fixed;
    width: 60vw;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 0 0 1.5vw #fff;
    border: 5px solid var(--main-color);
    padding: 1.5vw;
    display: none;
    justify-content: space-between;
}
/* LEFT COLUMN OF MODAL*/
.media {
    max-width: 60%;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    /* close button for smaller screens only */
    .closeOne {
        display: none;
    }
.media video, .media img {
    box-shadow: 1px 1px 6px #6F7C8E3f;
 }
    /* modal screenshots*/
.showcase {
    width: 100%;
}
    /* modal work icons*/
    .descr-icons {
        width: 34vw;
        display: flex;
        justify-content: flex-start;
        margin: 1.5vw 0;
    }
    .descr-icons > div {
        width: 20%;
        max-width: 5vw;
        height: 5vw;
        margin: 2%;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 2px 2px 4px #6F7C8E3f;
    }
    .ani {
        background-image: url("../images/icons/anim.svg");
    }
    .resp {
        background-image: url("../images/icons/respons.svg");
    }
    .html{
        background-image: url("../images/icons/html.svg");
    }
    .css{
        background-image: url("../images/icons/css.svg");
    }
    .js {
        background-image: url("../images/icons/js.svg");
    }
    .wix {
        background-image: url("../images/icons/wix.svg");
    }
    .corvid {
        background-image: url("../images/icons/corvid.svg");
    }
    .xd {
        background-image: url("../images/icons/xd.svg");
    }

/* RIGHT COLUMN OF MODAL*/
.descr {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.close, .closeOne {
    border: 1px solid var(--alt-color);
    color: var(--alt-color);
    width: 2vw;
    padding-top: .25vw;
    font-size: 1.5vw;
    text-align: center;
    font-family: var(--serif-font);
    align-self: flex-end;
}
/* link text / arrow to full sites*/
.link-wrap {
    text-align: right;
}
.work-link {
    font-family: var(--serif-font);
    text-align: right;
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 10px;
    display: inline-block;
    color: var(--alt-lt-color);
}
span.arrow {
    font-size: 2rem;
    vertical-align: middle;
}

/* Dark background for Modal*/
.dark-bg {
    width: 100vw;
    height: 100vh;
    z-index: 20;
    position: fixed;
    bottom:0vh;
    left: 0;
    background-color: rgba(62, 78, 87, 0.564);
    display: none;
}

/*  - - - MEDIA QUERIES - - - */

@media only screen and (max-width: 758px){
    .grid-wrap {
        max-width: 95vw;
    }
    .grid-contain {
        grid-template-columns: 50vw;
    }
    .click-text {
        margin-top: 3vw;
    }
    .modal-container {
        flex-direction: column;
        align-items: center;
    }
    .media {
        max-width: 95%;
    }
    .descr-icons {
        width: 100%;
    }
    .descr-icons > div {
        width: 9vw;
        height: 9vw;
        max-width: 9vw;
    }
    .descr {
        width: 95%;
    }
    .close {
        display: none;
    }
    /* close button for smaller screens only */
.closeOne {
    display: block;
    width: 20px;
    height: 20px;
    font-size: 18px;
    padding-top: 2px;
    }
}
    
    

}