/* SITE STYLES */
/*
h1 {
    font-size: 4.5vw;
    font-weight: 300;
    line-height: 1.25;
}
h1, h2 {
    font-family: var(--serif-font);
}
h2 {
    font-size: 1.5vw;
    color: var(--alt-color);
}

h3 {
    font-family:var(--sans-serif-font);
    font-weight: 500;
    font-size: rem;
    color: var(--alt-color);
    line-height: 2;
}
h4 {
    font-family: var(--serif-font);
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--alt-lt-color);
    margin-bottom: .5rem;
}
p, .modal-text {
    font-family: var(--sans-serif-font);
    font-size: .75rem;
    line-height: 1.5;
    color: var(--alt-color)
}
body {
max-width: 100vw;
}
.stage {
    position: relative;
}
header {
    position: absolute;
    height: 13vmin;
    width: 100%;
    background-color: #fff;
    z-index: -2;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}*/
/*set to display after splash
.tagline {
    display: block;
}
/*final top position after splash
#topline_bg {
    top: 13vmin;

/* final header position for logo
#mainLogo {
    position: absolute;
    top: 1vh;
    left: .25vw;
    width: 24vmin;
    height: 11vmin;
    z-index: 5;
}
/*
.temp-message-box {
    position: absolute;
    left: 20vw;
    width: 50vw;
    height: 35vh;
    top: 40vh;
    background-color: var(--main-color);
}
.tmessage {
    position: relative;
    top: 10vh;
    color: #fff;
    font-size: 36px;
    font-family: var(--sans-serif-font);
    text-align: center;
    line-height: 1.5;
}

.navbox {
    position: absolute;
    opacity: 1;
    left: 90vw;
    width: 10vw;
    height: 35vh;
    top: 40vh;
    padding-left: 1.5vw;
    background-color: #FBE080;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.navbox hr {
    color: var(--alt-lt-color);
    background-color: var(--alt-lt-color);
    border: none;
    height: 2px;
}
#navli1, #navli2, #navli3, #navli4, #navli5 {
    margin-left: 1vw;
}
#navli1 a h3:hover, 
#navli3 a h3:hover, 
#navli5 a h3:hover {
    color: var(--alt-lt-color);
    animation: slideOver 200ms ease-in forwards;
}

@keyframes slideOver {
    from {
    margin-left: 0px;
    }
    to {
    margin-left: -15px;
    }
}

/* ----- WORK PAGE STYLES ------*/
/*
main {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    top: 20vmin;
}*/

 .work-intro {
    width: 100%;
    background-color: #d4d9ff41;
    padding: 30px 0;
}
.work-intro-text {
    width: 96%;
    max-width: 28.125em;
    margin: 0 auto;
}

.grid-wrap {
    width: 86%;
    max-width: 62em;
    margin: 0 auto 4vw;
}
.grid-contain {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    grid-column-gap: 5vw;
    grid-row-gap: 7vw;
    justify-content: center;
}
.grid-item {
    transition: transform 400ms ease-in-out;
}
.grid-item:hover {
    transform: scale(1.15, 1.15);
}
.close-x:hover, .tap-close:hover, .grid-item:hover {
    cursor: pointer;
}

/* portfolio screenshots */
.work-image {
    justify-self: center;
    box-shadow: 3px 3px 8px lightgrey;
    /* controls the ease of hover scaling  
    transition: transform 400ms ease-in-out;*/
    position: relative;
    z-index: 1;
} 
/*
.work-image:hover {
    transform: scale(1.15, 1.15);
}*/
/* image sizing to container */
.work-image img, .work-image video {
    width: 100%;
    height: 100%;
    margin-bottom: -5px;
}
/* click for more on hover*/
.click-text, .proj-title {
    text-align: center;
    color: var(--alt-lt-color);
    font-size: .85rem;
    margin-top: 0;
}

.click-text span {
    font-weight: 600;
}
.proj-title {
    color: var(--alt-color);
    font-weight: bolder;
    margin-top: 1em;
}
.work-image:hover + .click-text {
    display: block;
}

/* - - - MODALS - - - */
/* modals that show on Click for More*/
.modal-container {
    z-index: 25;
    position: fixed;
    width: 100%;
    max-width: 400px;
    height: auto;
    max-height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    top: 1px;
    left: 50%;
    transform: translate(-50%);
    background-color: #ffffff;
    box-shadow: 0 0 0 1.5vw #fff;
    border: 5px solid var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* LEFT COLUMN OF MODAL*/
.media {
    object-fit: contain;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
    /* close button for smaller screens only */
    .closeOne {
        display: none;
    }
.media video, .media img {
    box-shadow: 1px 1px 6px #6F7C8E3f;
 }
    /* modal screenshots*/
.showcase {
    width: 100%;
}
    /* modal work icons*/
    .descr-icons {
        width: 34vw;
        display: none;
        margin-top: 1em;
        justify-content: flex-start;
    }
    .descr-icons > div {
        width: 20%;
        max-width: 5vw;
        height: 5vw;
        margin: 2%;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 2px 2px 6px #6F7C8E3f, -1px -1px 3px #6F7C8E0a;
    }
    .ani {
        background-image: url("../images/icons/anim-01.svg");
    }
    .resp {
        background-image: url("../images/icons/respons.svg");
    }
    .html{
        background-image: url("../images/icons/html.svg");
    }
    .css{
        background-image: url("../images/icons/css.svg");
    }
    .js {
        background-image: url("../images/icons/js.svg");
    }
    .wix {
        background-image: url("../images/icons/wix.svg");
    }
    .corvid {
        background-image: url("../images/icons/corvid.svg");
    }
    .xd {
        background-image: url("../images/icons/xd.svg");
    }
    .bs {
        background-image: url("../image/icons/bs4-01.svg")
    }

/* RIGHT COLUMN OF MODAL*/
.descr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modal-descr h4 {
    text-align: center;
}
.tap-close {
    width: 100%;
    background-color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    padding: 6px 0 3px;
}
.tap-close h6 {
    color: #fff;
}
.close-x {
    width: 3vw;
    min-width: 1.5em;
    max-width: 2em;
    height: 3vw;
    min-height: 1.5em;
    max-height: 2em;
    position: absolute;
    right: .5em;
    top: .5em;
    background-image: url("../images/icons/close-x-01.svg");
    background-size: cover;
    box-shadow: 2px 2px 4px #6F7C8E3f, 1px 1px 3px #6F7C8E3f;
    display: none;
}

/* link text / arrow to full sites*/
.link-wrap {
    text-align: right;
}
.work-link {
    font-family: var(--serif-font);
    text-align: right;
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 10px;
    display: inline-block;
    color: var(--alt-lt-color);
}
span.arrow {
    font-size: 2rem;
    vertical-align: middle;
}

/* Dark background for Modal*/
.dark-bg {
    width: 100vw;
    height: 100vh;
    z-index: 20;
    position: fixed;
    bottom:0vh;
    left: 0;
    background-color: rgba(62, 78, 87, 0.564);
    display: none;
}

/*  - - - MEDIA QUERIES - - - */
@media only screen and (min-width: 600px){
    .work-intro-text {
        width: 96%;
        max-width: 96%;
        margin: 0 auto;
    }
    .modal-container {
        width: 80%;
    }
}
@media only screen and (min-width: 700px) {
    h2 {
        font-size: 2rem;
    }
    .work-intro-text {
        width: 96%;
        margin: 0 auto;
    }

    .work-intro-text p {
        max-width: 40em;
    }
    .modal-container {
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }
    .work-intro-text {
        max-width: 62em;
    }
    .grid-contain {
        grid-template-columns: 78%;
    }
    .modal-container {
        width: 70%;
    }
}
@media only screen and (min-width: 850px) {

    .grid-contain {
        grid-template-columns: repeat(2, auto);
        grid-row-gap: 2em;
    }
    .modal-container {
        width: 90%;
        max-width: 100%;
        flex-direction: row;
        overflow-y: hidden;
        padding: 1em;
    }
    .tap-close {
        display: none;
    }
    .descr-icons {
        display: flex;
    }
    .media, .descr {
        width: 50%;
    }
    .close-x {
        display: block;
    }
    
}
@media only screen and (min-width: 1200px) {

    .work-intro-text {
        max-width: 90vw;
    }
    .work-intro-text h1 {
        font-size: 3.5rem;
    }
}
@media only screen and (min-width: 1400px) {
    .modal-container {
        z-index: 25;
        position: fixed;
        width: 60vw;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        box-shadow: 0 0 0 1.5vw #fff;
        border: 5px solid var(--main-color);
        padding: 1.5vw;
        display: none;
        justify-content: space-between;
    }
}
/*
@media only screen and (max-width: 768px){
    .grid-wrap {
        max-width: 95vw;
    }
    .grid-contain {
        grid-template-columns: 50vw;
    }
    .work-intro-text {
        width: 61vw;
        margin: 0 auto;
    }

    .modal-container {
        flex-direction: column;
        align-items: center;
    }
    .media {
        max-width: 95%;
    }
    .descr-icons {
        width: 100%;
    }
    .descr-icons > div {
        width: 9vw;
        height: 9vw;
        max-width: 9vw;
    }
    .descr {
        width: 95%;
    }
    .close {
        display: none;
    }*/

    /* close button for smaller screens only */

    .ani:hover {
        animation: spin 750ms 1 linear;
    }
    .resp:hover {
        animation: scaleup 750ms 1 ease-in-out;
    }
    .html:hover, .css:hover, .js:hover {
        animation: moveup 550ms 1 ease-in-out;
    }
    .xd:hover, .wix:hover, .corvid:hover {
        animation: movedown 550ms 1 ease-in-out;
    }
      
      @keyframes spin {
        25% {
            transform: rotate(0) scale(1.25);
        }
        100% {
            transform: rotate(1turn) scale(1);
      }
    }
      @keyframes scaleup {
          50% {
              transform: scale(1.4);
          }
          100% {
              transform: scale(1);
          }
      }
      @keyframes moveup {
          50% {
            transform: translate(0,-12px);
          }
      }
      @keyframes movedown {
        50% {
          transform: translate(0,12px);
        }
    }
